@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #ff6600;
    color: #ffffff;
}
/*-------------------- Intro */
.sub-heading {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #003884;
}

.skyline {
    display: flex center;
    justify-content: space-between;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.icons {
    display: flex center;
    justify-content: space-between;
    text-align: center;
    font-size: 8em;
    padding-top: 0;
}

